doctype html  
html(lang='en')  
    head
        title Pug
    body
        h1 Pug Examples
        div#root
        div.container
            div.row
                p Cool Pug example!
            